{
  "swagger": "2.0",
  "info": {
    "title": "Workload Control REST APIs",
    "description": "Microsoft Fabric APIs for workload implementers.",
    "version": "v1"
  },
  "schemes": [ "https" ],
  "host": "api.fabric.microsoft.com",
  "basePath": "/v1/workload-control",
  "definitions": { },
  "paths": {
    "/workspaces/{workspaceId}/items/{itemId}/resolvePermissions": {
      "get": {
        "summary": "> [!NOTE]\n> This API is in preview.\n\nReturns permissions, the authenticated principal has for the item.",
        "description": "This API requires SubjectAndApp authentication.\n\n## Permissions\nThe calling workload should be the owner of the item type. The subject principal does not need special permissions.\n\n## Interface",
        "operationId": "WorkloadControl_ResolveItemPermissions",
        "tags": [ "WorkloadControl" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "The workspace ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          },
          {
            "in": "path",
            "name": "itemId",
            "description": "The item ID.",
            "type": "string",
            "format": "uuid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ResolveItemPermissionsResponse"
            }
          },
          "default": {
            "description": "Common error codes:\n\n* ItemNotFound - The requested item was not found.",
            "schema": {
              "$ref": "../common/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resolve item permissions example": {
            "$ref": "./examples/ResolveItemPermissions.json"
          }
        }
      }
    }
  },
  "responses": {},
  "security": [],
  "tags": []
}